@import url('bootstrap.min.css');
@import url('https://fonts.googleapis.com/css2?family=Train+One&display=swap');
:root{
    --bg-secondery-50:#EEEEEE;
}
.navbar{
    position: fixed;
    z-index: 3;
    top: 0;
    width: 100%;
    padding: 10px 30px ;
}
.nav-item:hover{
    text-decoration: underline;
}
.nav-link{
    font-size: 20px;
    margin: 0 10px;
}

/* main */
.blog-about{
    /* height: calc(100vh - 54px); */
    padding: 30px 50px !important;
    display: flex;
    align-items: center;
    position: relative;
}
.blog-about .profile,.blog-resume .profile{
    border-radius: 50%;
    overflow: hidden;
}

.blog-about .profile img,.blog-resume .profile img{
    width: 100% ;
    height: 100% ;
    object-fit: cover;
}

.blog-about .detail{
    height: auto;
    padding: 20px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.4);
}

.blog-about .detail .name{
    text-transform: uppercase;
    font-family: "Train One", system-ui;
    font-weight: bolder;
    color: rgb(0, 255, 183);
}
.blog-about .detail .name:hover{
    color: rgb(8, 214, 255);
}
.blog-about .detail p.description{
    letter-spacing: 2px;
    word-wrap: break-word;
    font-family: "Kode Mono", monospace;
    color: white;
}



.blog-resume{
    position: relative;
    padding: 30px 50px !important;
}
.blog-resume .profile{
    position: sticky;
    top: 200px;
}
.blog-resume .part .part-title{
    text-transform: uppercase;
    border-bottom:5px double black;
}
.blog-resume .part .part-description{
    font-size: 20px;
}
.blog-resume .part .part-description .part-location{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-between;
    padding: 10px 20px;
}
.blog-resume .part .part-description .part-location li{
    width: 50%;
    margin: 5px 0;
}
.blog-resume .part .part-description .part-school li{
    width: 100%;
    font-weight: bold;
    color: black;
}

.blog-resume .part .part-description .part-location li ul{
    list-style: none;
}
.blog-resume .part .part-description .part-location li ul li{
    font-weight: normal;
}
.blog-resume .part .part-description .part-location li ul li:last-child{
    color: gray;
    font-family: "My Soul", cursive;
}
.blog-resume .part-expirence .part-description .part-location li ul li:first-child{
    font-weight: bold;
}
.blog-resume .part-expirence .part-description .part-location li ul li:last-child{
    color: black;
    font-family: unset;
}
.blog-resume .part-skill .part-description .part-location li ul{
    display: flex;
    flex-wrap: wrap;
}
.blog-resume .part-skill .part-description .part-location li ul li{
    width: 50%;
    padding: 0 20px;
}
.blog-resume .part-skill .part-description .part-location li ul li:last-child{
    color: black;
    font-family: unset;
}
.blog-resume .part-skill .part-description .part-location li ul li .title{
    text-align: center;
}
.blog-resume .part-skill .part-description .part-location li ul li .outside-gray{
    width: 100%;
    height: 20px;
    overflow: hidden;
    border-radius: 25px;
    background-color: gray;
}
.blog-resume .part-skill .part-description .part-location li ul li .outside-gray .inside-gray{
    border-radius: 25px;
    height: 100%;
    background-color: #00FFFF;
}






@media (max-width: 575.99px) { 
    .navbar-collapse{
        position: fixed;
        top: -100%;
        left: -100%;
        z-index: 1;
        background-color: rgba(0, 89, 255, 0.451);
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.8s;
    }
    .blog-about .profile,.blog-resume .profile{
        width: 250px;
        height: 250px;
    }
    .blog-about{
        height: auto !important;
    }
    .blog-about .detail .name{
        font-size: 30px;
    }
    .blog-about .detail p.description{
        font-size:15px;
    }

    .blog-resume .part .part-description .part-location li{
        width: 100%;
        margin: 10px;
    }
    .blog-resume .part-skill .part-description .part-location li ul li{
        width: 100%;
    }


}
/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    .navbar-collapse{
        position: fixed;
        top: -100%;
        left: -100%;
        z-index: 1;
        background-color: rgba(0, 89, 255, 0.451);
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.8s;
    }
    .blog-about .profile,.blog-resume .profile{
        width: 250px;
        height: 250px;
    }
    .blog-about{
        height: auto;
    }
    .blog-about .detail .name{
        font-size: 30px;
    }
    .blog-about .detail p.description{
        font-size:15px;
    }
 }

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .blog-about .profile,.blog-resume .profile{
        width:350px;
        height: 350px;
    }
    
    .blog-about .detail .name{
        font-size: 40px;
    }
    .blog-about .detail p.description{
        font-size: 20px;
    }
 }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .navbar-collapse{
        position: unset;
        background-color:unset;
        width: unset;
        height: unset;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.8s;
    }
    #show-navbar{
        display: none;
    }
    .blog-about .profile,.blog-resume .profile{
        width:350px;
        height: 350px;
    }
    
    .blog-about .detail .name{
        font-size: 40px;
    }
    .blog-about .detail p.description{
        font-size: 20px;
    }
 }

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    .blog-about .profile,.blog-resume .profile{
        width: 400px;
        height: 400px;
    }   
    .blog-about .detail .name{
        font-size: 50px;
    }
    .blog-about .detail p.description{
        font-size: 25px;
    }
 }

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { 

 }